body {
    width: 400px;
    height: 100dvh;
    background: linear-gradient(180deg, rgb(0, 98, 128), rgb(39, 146, 141));
    margin: 0%;
    display: flex;
    overflow: hidden;
}
article {
    position: absolute;
    bottom: 60px;
    width: 100dvh;
    left: 0; 
    padding-left: 30px;
    padding-right: 30px;
}
.girasol {
    position: absolute;
    transform: translatex(-50%);
    bottom: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
#noce {
    height: 800px;
    width: 100dvw;
}
.nube {
    position: absolute;
    top: 20px; /* Aparece en la parte superior (en el cielo) */
    width: 400px; /* Ajusta según el tamaño de tu imagen */
    height: auto;
    pointer-events: none; /* Hace que los clics pasen a través de ella */
    
    /* Conectamos la animación: dura 15 segundos, es lineal y se repite infinitamente */
    animation: moverNube 15s linear infinite;
}

@keyframes moverNube {
    0% {
        left: 30%; /* Empieza justo afuera de la pantalla por la derecha */
    }
    100% {
        left: -410px; /* Termina cuando sale completamente por la izquierda */
    }
}
button {
    cursor: pointer;
    color: white;
    background-color: rgb(165, 154, 0);
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translatex(-60%);
    height: 60px;
    width: 200px;
    font-size: larger;
    font-weight: bold;
    border-radius: 20px;
    border: 3px solid rgb(51, 45, 8);
}
footer {
    width: 100%;
    height: 60px;
    background: linear-gradient(50deg, green, rgb(5, 175, 5));
    position: absolute;
    bottom: 0;
    left: 0;
}
.corazon {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: auto;   
    pointer-events: none;
    animation: movercorazon 4s linear infinite;
}
@keyframes movercorazon {
    0% {
        top: 0;
    }
    100% {
        top: -800px
    }
}

#poema {
    cursor: pointer;
    color: white;
    position: absolute;
    width: 30%;
    top: 33%;
    left: 23%;
    transform: translatex(-60%);
    font-size: larger;
    font-weight: bold;
}